@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
  @import Geocoder
.ig
  #map
    position absolute
    top 0px
    left 0px
    bottom 0px
    width 100%

  .leaflet-popup-content
    margin-right 0px
    margin-bottom 0px
    h3
      margin-bottom 3px
    .address
      font-style italic
      color #6
    .zavady
      max-height 400px
      overflow auto
      ul
        list-style-type none
        margin 10px 0px 0px 0px
        padding 0px 19px 13px 0px
        li
          margin-bottom 10px
        .date
          color #3
          font-style italic
